<!DOCTYPE html>
<html lang="en">
<head>
  <title>Course Content</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Course Details</h2>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form class="form-horizontal"
    [formGroup]="form" 
    action="/action_page.php" (submit)="onSavePost()" *ngIf="!isLoading">
    <div class="form-group">
      <label class="control-label col-sm-2" for="projectid">ProjectID:</label>
      <div class="col-sm-10">
        <input 
        type="text" 
        class="form-control" 
        id="projectid" 
        placeholder="Enter ProjectID"   
        required 
        minlength="5" 
        [ngModel]="course?.projectid"
        formControlName="projectid"
        >
        <mat-error *ngIf="form.get('projectid').invalid">Please enter a Project-Id</mat-error>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="projectHeadline">Project HEADLINE:</label>
      <div class="col-sm-10">          
        <input 
        type="text" 
        class="form-control" 
        id="projectHeadline" 
        placeholder="Enter Project-Head"  
        [ngModel]="course?.title"
        formControlName="title" 
        required>
        <mat-error *ngIf="form.get('title').invalid">Please enter a Title</mat-error>
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="description">Description:</label>
        <div class="col-sm-10">          
          <input 
          type="text" 
          class="form-control" 
          id="description" 
          placeholder="Enter Description" 
          name="projectDescription" 
          [ngModel]="course?.projectDescription">
        </div>
    </div>  
    <div class="form-group">
      <label class="control-label col-sm-2" for="assigne">Description:</label>
      <div class="col-sm-10">          
        <input type="text" 
        class="form-control" 
        id="assigne" 
        placeholder="Enter Assigne name" 
        name="assigne" 
        ngModel 
        required
        #assigne="ngModel">
        <mat-error *ngIf="assigne.invalid">Please enter an Assigne</mat-error>
      </div>
    </div>
    <div class="form-group">
      <button mat-stroked-button type="button" (click)="filePicker.click()">Upload Document!!</button>
      <input type="file" 
      #filePicker 
      (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>  
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default" (click)="onAddCourse()">Create Course</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>
