<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 sidenav">
          <button class="dashboard">Dashboard
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="">
            <a href="#">Dashboard_Edit</a>
            <a href="#">Dashboard_Create</a>
          </div>          
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#section1">Courses</a></li>
            <li><a href="#section2">BlogSpot</a></li>
          </ul>
          <br />
        </div>

        <div class="col-sm-9">
            <router-outlet></router-outlet>
        </div>

  </body>
</html>
