<div class="jumbotron">
  <div class="container text-center">
    <h1>Learn to Evolve</h1>
    <p>
      We provide an online platform to accquaint yourself with Courses of your
      choice. <br />
      Keep Learning and Practicing to reach maximum heights<br />
      Join Us and be Self-Aware
    </p>
  </div>
</div>

<div class="container-fluid bg-3 text-center">
  <h3 style="text-align:center;">Courses to Take</h3>
  <br />
  <div class="row">
    <div class="col-sm-3">
      <p style="font-weight:900;font-size: 2rem;">WEB DEVELOPMENT</p>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSWdr5zy89mQKUe8thyQcBMWo_4Y19cVpy0dIQjZFwuw6FUL49U"
        class="img-responsive"
        style="width:100%; height: 250px"
        alt="Image"
      />
    </div>
    <div class="col-sm-3">
      <p style="font-weight:900;font-size: 2rem;">IOT DEVELOPMENT</p>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRwuWwxjwEXrhWzw7W2ni8O9uRDmFgJ8uxO-klQ2rSE_E0D4UyR"
        class="img-responsive"
        style="width:100%;height: 250px;"
        alt="Image"
      />
    </div>
    <div class="col-sm-3">
      <p style="font-weight:900;font-size: 2rem;">CLOUD DEVELOPMENT</p>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_4w9AAvI8T6b0MEjK-Rs25rHMqyh3Wh-KB88ysKY8XP3nGmkS"
        class="img-responsive"
        style="width:100%; height: 250px"
        alt="Image"
      />
    </div>
    <div class="col-sm-3">
      <p style="font-weight:900;font-size: 2rem;">AI/ML DEVELOPMENT</p>
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS74_ouau-vZPpggyi9lHT-Zzf52aytLdto_FQPr9DoTGn8QmXJ"
        class="img-responsive"
        style="width:100%; height: 250px;"
        alt="Image"
      />
    </div>
  </div>
</div>
<br />
